<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Leden lijst</h1>
	<div class="input-group col-2">
		<div class="input-group-prepend">
			<label class="input-group-text" for="select_leden">Select: </label>
		</div>
		<select class="form-control" id="select_leden">
			<option th:each="soort : ${soorten}" th:id="${soort.id}"
				th:value="${soort.id}" th:text="${soort.soortenleden}"
				th:selected="${soort.actief}"></option>
		</select>
	</div>
	<div class="container-fluid">
    <p th:text="'Aantal: ' + ${aantal}" />

	<table class="test">
		<tr class="kop">
			<th class="kop">Id</th>
			<th class="kop">Naam</th>
			<th class="kop">Adres</th>
			<th class="kop">Inschrijving</th>
			<th class="kop">Soort</th>
		</tr>
		<tr class="test" th:each="leden : ${leden}">
			<td class="test" th:onclick="'ledenbyid(' + ${leden.Id} +')'" th:text="${leden.id}"></td>
			<td class="test" th:onclick="'ledenbyid(' + ${leden.Id} +')'" th:text="${leden.voornaam} + ' ' + ${leden.familienaam}"></td>
			<td class="test" th:onclick="'ledenbyid(' + ${leden.Id} +')'" th:text="${leden.straat} + ' ' + ${leden.nr} + ' - ' + ${leden.postnr} + ' ' + ${leden.gemeente}"></td>
			<td class="test right" th:onclick="'ledenbyid(' + ${leden.Id} +')'" th:text="${#temporals.format(leden.datumlidgeld, 'dd-MM-yyyy')}"></td>
			<td class="test" th:onclick="'ledenbyid(' + ${leden.Id} +')'" th:text="${leden.soortenleden.soortenleden}"></td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		console.log("Leden document ready");
	});
</script>
      
</body>
</html>