<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<div th:fragment="leden_namenlijst">
	<ol class="menu_lijst" id="namenlijst_click">
		<li class="menu_lijst_item" th:id="${leden.Id}" th:each="leden : ${leden}">
			<span class="menu_lijst_item_tekst" th:text="${ledenStat.count} + ' - ' + ${leden.voornaam} + ' ' + ${leden.familienaam}"></span>
		</li>
	</ol>
</div>

</body>
</html>