<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8"/>
	<title></title>
</head>
<body>

<div id="leden_main">
	<h1 id="geen_leden_gevonden" style="display: none;">Geen leden gevonden!</h1>
	<div id="leden_gevonden" style="display: block;">
	<h2 id="main_id" th:text="${id != 0}? 'Lid: ' + ${id} : 'Lid: '"></h2>
	<div class="btn-group btn-group-sm" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
		<button id="leden_newlid" type="button" class="btn btn-success" th:onclick="newLid();" >&nbsp;&nbsp;&nbsp;&nbsp;Nieuw&nbsp;&nbsp;&nbsp;&nbsp;</button>
		<button id="leden_updatelid" type="button" class="btn btn-success" th:data-id="${id}" th:onclick="updateLid(this.getAttribute('data-id'));" >&nbsp;Aanpassen&nbsp;</button>
		<button id="leden_deletelid" type="button" class="btn btn-danger" th:data-id="${id}" th:onclick="deleteLid(this.getAttribute('data-id'));" >Verwijderen</button>
	</div>
	<div id="ledengegenstabel" th:insert="leden/fragmenten/leden_ledengegevenstabel :: leden_ledengegevenstabel"></div>
	<h2>Lidgeld:</h2>
	<div class="btn-group btn-group-sm lidgeld_button" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
		<button id="lidgeld_newlidgeld" type="button" class="btn btn-success" th:data-id="${id}" th:onclick="newLidgeld(this.getAttribute('data-id'));" >&nbsp;&nbsp;&nbsp;&nbsp;Nieuw&nbsp;&nbsp;&nbsp;&nbsp;</button>
		<button id="lidgeld_updatelidgeld" type="button" class="btn btn-success" th:data-id="${id}" th:onclick="updateLidgeld(this.getAttribute('data-id'));" >&nbsp;Aanpassen&nbsp;</button>
		<button id="lidgeld_deletelidgeld" type="button" class="btn btn-danger" th:data-id="${id}" th:onclick="deleteLidgeld(this.getAttribute('data-id'));" >Verwijderen</button>
  	</div>
  	<div id="lidgeldtabel" th:insert="leden/fragmenten/leden_lidgeldtabel :: leden_lidgeldtabel"></div>
  	</div>
  	<div id="editLidModalHolder"></div>
	<div id="deleteLidModalHolder"></div>
	
	<div id="editLidgeldModalHolder"></div>
</div>

</body>
</html>