<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/header :: header-css"></head>
<body>
<div th:fragment="kasboek_start">
	<ol class="menu_lijst" id="namenlijst_click">
		<li class="menu_lijst_item kasboeklijst_click" th:id="kasboek" th:text="Kasboek" th:jaar="0" th:rubriek="0"></li>
		<li class="menu_lijst_item kasboeklijst_click" th:id="${jaartal.Id}" th:each="jaartal : ${jaartal}" th:jaar="${jaartal.jaartal}" th:rubriek="0">
			<span th:text="' ' + ${jaartal.jaartal}"></span>
			<ol class="menu_lijst" th:id="'jaartal' +${jaartal.Id}" style="display: none; margin: 20px 0px;">
				<li class="menu_lijst_item kasboeklijst_click" th:id="${rubriek.Id}" th:each="rubriek : ${jaartal.Rubriek}" th:text="${rubriek.rubriek}"></li>
			</ol>
		</li>
	</ol>
</div>	








	<div class="panel-group" id="jarenlijst">
	    <div class="panel panel-default">
	    	<div class="panel-heading">
	          <a class="list-group-item kasboeklijst kasboeklijst_click" th:id="kasboek" th:text="Kasboek" th:jaar="0" th:rubriek="0"></a>
	      </div>
	      </div>
	      <div class="panel panel-default" th:each="jaartal : ${jaartal}">
	      <div class="panel-heading">
	          <a class="list-group-item kasboeklijst kasboeklijst_click" th:id="${jaartalStat.index}" data-toggle="collapse" th:href="'#collapse' + ${jaartalStat.index}" th:text="'&emsp;' + ${jaartal.jaartal}" th:jaar="${jaartal.jaartal}" th:rubriek="0" ></a>
	      </div>
	      <div th:id="'collapse' + ${jaartalStat.index}" class="panel-collapse collapse" data-parent="#jarenlijst" >
	        <div class="list-group"th:each="rubriek : ${jaartal.Rubriek}">
	          <a class="list-group-item kasboeklijst active kasboeklijst_click" th:href="'#'" th:text="'&emsp;&emsp;' + ${rubriek.rubriek}" th:jaar="${jaartal.jaartal}" th:rubriek="${rubriek.id}" ></a> 
	        </div>
	      </div>
	    </div>
    </div>
	

<div id="newKasboekModalHolder"></div>
<div id="updateKasboekModalHolder"></div>
<div id="deleteKasboekModalHolder"></div>

</body>
</html>