<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8"/>
	<title></title>
</head>
<body>
<div th:fragment="kasboektabel">
<h2>Kasboek</h2>
<div class="btn-group btn-group-sm" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
	<button type="button" class="btn btn-success" th:onclick="newKasboek();" >&nbsp;&nbsp;&nbsp;&nbsp;Nieuw&nbsp;&nbsp;&nbsp;&nbsp;</button>
	<button type="button" class="btn btn-success" th:onclick="updateKasboek();" >&nbsp;Aanpassen&nbsp;</button>
	<button type="button" class="btn btn-danger" th:onclick="deleteKasboek();" >Verwijderen</button>
</div>
<div class="scrolldiv">
<table class="test">
	<tr class="kop">
		<th class="kop">Nr</th>
		<th class="kop">Id</th>
		<th class="kop">Jaar</th>
		<th class="kop">Rubriek</th>
		<th class="kop">Omschrijving</th>
		<th class="kop">Datum</th>
		<th class="kop">Uitgaven</th>
		<th class="kop">Inkomsten</th>
	</tr>
	<tr class="test" onclick="kasboekSelect(this)" th:each="kasboek : ${kasboek}" th:id="${kasboek.id}">
		<td style="width: 50px" class="test" th:text="${kasboekStat.count}"></td>
		<td style="width: 50px" class="test" th:text="${kasboek.id}"></td>
		<td style="width: 50px" class="test" th:text="${kasboek.jaartal}"></td>
		<td style="width: 200px" class="test" th:text="${kasboek.rubriek.rubriek}"></td>
		<td class="test" th:text="${kasboek.omschrijving}"></td>
		<td style="width: 100px" class="test right" th:text="${#temporals.format(kasboek.datum, 'dd-MM-yyyy', locale)}"></td>
		<td style="width: 100px" class="test right" th:text="'€' + ${#numbers.formatDecimal(kasboek.uitgaven, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
		<td style="width: 100px" class="test right" th:text="'€' + ${#numbers.formatDecimal(kasboek.inkomsten, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
	</tr>
</table>
</div>

<div id="newKasboekModalHolder"></div>
<div id="updateKasboekModalHolder"></div>
<div id="deleteKasboekModalHolder"></div>


</div>
</body>
</html>