<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"></head>
<body>
<div th:replace="fragments/header :: header"></div>
	<h2>Kasboek</h2>
    <p th:text="'Id: ' + ${kasboek.Id}"></p>
    <p th:text="'Jaar: ' + ${kasboek.jaartal}"></p>
    <p th:text="'Rubriek: ' + ${kasboek.rubriek.rubriek}"></p>
    <p th:text="'Omschrijving: ' + ${kasboek.omschrijving}"></p>
    <p th:text="'Datum: ' + ${#temporals.format(kasboek.datum, 'dd-MM-yyyy')}"></p>
    <p th:text="'Uitgaven: €' + ${kasboek.uitgaven}"></p>
    <p th:text="'Inkomsten: €' + ${kasboek.inkomsten}"></p>	
</body>
</html>