<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"></head>
<body>
<div th:fragment="login" class="login_container">
    <h1>Login</h1>
	<div th:if="${param.error}" class="form-alert form-error">Invalid username and password.</div>
	<div th:if="${param.logout}" class="form-alert form-info">You have been logged out.</div>
	<form th:action="@{login}" method="post">
		<div class="login_form_groep">
			<label for="username"><span class=""></span>Username:</label>
			<input class="form-control" id="username" type="text" name="username" />
		</div>
		<div class="login_form_groep">
			<label class="password">Password:</label>
			<input class="form-control" id="password" type="password" name="password" />
		</div>
		<div>
			<input class="knop knop-groen" type="submit" value="Sign In" />
		</div>
	</form>
</div>  
</body>
</html>